body{
    font-family: cursive;
    color: blue;
    text-align: center;
}

.post {
    border: 1px solid black;
    width: 70%;
    margin: auto;
}

.cabecera {
    background-color: rgb(88, 65, 110);
    color: white;
    height: 50px;
}

footer{
    background-color: rgb(88, 65, 110);
}